$primary-color: #7C1A17;
$secondary-color: #D97904;
$teriary-color: #F9EACB;
$quanternary-color: #1D1A1A;
$quinary-color: #262424;
$senary-color: #2C2A29;
$septenary-color: #FFFFFF;
$octonary-color: #707070;