@charset "UTF-8";
/* Octin font-family */
@import url("https://use.typekit.net/xpj8oec.css");
/* Raleway font-family */
@import url("https://use.typekit.net/xpj8oec.css");
/* Font sizes */
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
}

footer_links {
  font-size: 25px;
}

.h1 {
  font-size: 60px;
}

.p {
  font-size: 25px;
}

.footer_links {
  font-size: 25px;
}

/* Text */
.header {
  color: #D97904;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header_underline {
  color: #D97904;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 4px solid #D97904;
}

.paragraph {
  color: #FFFFFF;
  text-align: center;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-highlight {
  color: #D97904;
  font-weight: 600;
}

/* containor */
/* Buttons */
.btn {
  font-size: 45px;
  color: #F9EACB;
  background-color: #7C1A17;
  border-radius: 0;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
.btn:hover {
  color: #F9EACB;
  background-color: #7C1A17;
}

/* Body */
body {
  background-image: url(/img/graphics/BBQ_baggrund.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/* navbar */
.navbar {
  background-color: #1D1A1A;
  box-shadow: 0 0 16px #000000;
  width: 100%;
}

.navbar-brand {
  color: #FFFFFF;
}
.navbar-brand:hover {
  color: #FFFFFF;
}
.navbar-brand:focus {
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-shadow: 0 0 16px #000000;
  margin-left: 8px;
  margin-right: 8px;
}
.nav-link:hover {
  color: #D97904;
}
.nav-link:focus {
  color: #FFFFFF;
}

/* Searchbar toggler */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(/img/graphics/nav_icon.png);
  width: 30px;
  height: 30px;
}

/* Hero */
.hero-container {
  background-color: aqua;
  height: 100vh;
}

/* Countdown */
.countdown-container {
  background-color: #1D1A1A;
  height: 50vh;
}

/* Event */
.info-top {
  height: 50vh;
}

.info-about_us {
  padding-right: 6px;
  position: relative;
}

.info-textbox {
  position: absolute;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: flex-end;
}

.info-kids_q {
  padding-left: 6px;
  position: relative;
}

.info-bottom {
  padding-top: 12px;
}

.info-entrance {
  padding-right: 6px;
  position: relative;
}

.entrance_box {
  position: absolute;
  width: 60%;
  height: 60%;
}

.info-news {
  padding-left: 6px;
  position: relative;
}

/* space */
.space {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.space_small {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/* DM info */
.dm-info {
  position: relative;
}

.dm_info_textbox {
  z-index: 1;
  position: absolute;
  height: 100%;
}

.dm_info_text {
  height: 100%;
}

.info_ready {
  height: 50%;
  border-bottom: 2px solid #FFFFFF;
  text-shadow: 0 0 12px #000000;
}

.info_new {
  height: 50%;
  border-top: 2px solid #FFFFFF;
  text-shadow: 0 0 12px #000000;
}

.dm_info_btn {
  height: 100%;
  padding: 0 5%;
}

/* Footer */
.footer_box {
  background-color: #2C2A29;
}

.footer_link_container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer_links {
  color: #707070;
  text-decoration: none;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer_links:hover {
  color: #FFFFFF;
}

.copyright_box {
  background-color: #2C2A29;
}

.footer_inner-box {
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.footer_border {
  border-top: 2px solid #707070;
}

.footer_textbox {
  height: 70px;
}

.footer_text {
  font-size: 15px;
  color: #707070;
  margin: 0;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.social_media_instagram_icon {
  color: #707070;
  text-decoration: none;
  margin-right: 15px;
}
.social_media_instagram_icon:hover {
  color: #707070;
}

.social_media_facebook_icon {
  color: #707070;
  text-decoration: none;
}
.social_media_facebook_icon:hover {
  color: #707070;
}

/*cover*/
.cover_news {
  height: 40vh;
  background-image: url(/img/photos/kød.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.NEWS {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

/* Kidsque under nyheder*/
.news_box {
  height: 70vh;
  background-color: white;
  background-image: url(/img/photos/thumbnail_newskidsq_img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Amerikanske biler under nyheder*/
.news_box2 {
  height: 70vh;
  background-color: white;
  background-image: url(/img/photos/American\ cars.png);
  background-position: 50%, 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Linedance under nyheder*/
.news_box3 {
  height: 70vh;
  background-color: white;
  background-image: url(/img/photos/bootz.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.news_textbox {
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.356);
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  padding: 0 60px 0 60px;
}

.news_headline {
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #D97904; /*måske farve - evt lav om til hvid igen*/
}

/*info7 Program oversigt*/
.info_back_box {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.401);
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content_info {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*Om os side*/
.cover_aboutbbq {
  height: 40vh;
  background-image: url(/img/photos/kød2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.aboutbbq {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.aboutbbq_box {
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.401);
}

.aboutbbq_headline1 {
  color: #FFFFFF;
  line-height: 100px;
}

.aboutbbq_paragraf1 {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 45px;
}

.aboutbbq_headline2 {
  color: #FFFFFF;
  line-height: 100px;
}

.aboutbbq_paragraf2 {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 45px;
}

/*tilmelding side*/
.cover_signup {
  height: 40vh;
  background-image: url(/img/photos/kød3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.sign_up {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.sign_up_box {
  height: 60vh;
  background-color: #1D1A1A;
}

.outer_btn_box {
  height: 60vh;
  background-color: #1D1A1A;
}

.btn_box {
  height: 10vh;
}

.sign_up_textbox {
  height: 60vh;
  background-color: #FFFFFF;
}

.sign_up_box2 {
  height: 60vh;
  background-color: #1D1A1A;
}

.sign_up_textbox1 {
  height: 60vh;
  background-color: #FFFFFF;
}

.sign_up_box3 {
  height: 60vh;
  background-color: #1D1A1A;
}

.sign_up_textbox2 {
  height: 60vh;
  background-color: #FFFFFF;
}

.sign_up_box4 {
  height: 60vh;
  background-color: #1D1A1A;
}/*# sourceMappingURL=style.css.map */