@charset "UTF-8";
/* Octin font-family */
@import url("https://use.typekit.net/xpj8oec.css");
/* Raleway font-family */
@import url("https://use.typekit.net/xpj8oec.css");
/* Font sizes */
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
}

footer_links {
  font-size: 25px;
}

.h1 {
  font-size: 60px;
}

.p {
  font-size: 25px;
}

.footer_links {
  font-size: 25px;
}

/* Text */
.header {
  color: #D97904;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header2 {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.header_underline {
  color: #D97904;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 4px solid #D97904;
}

.header_countdown {
  color: #FFFFFF;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

.header_hero {
  z-index: 1;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  font-size: 120px;
  text-shadow: 0 0 25px #000000;
}

.countdown_number {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}

.sign-up_header {
  color: #D97904;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
}

.paragraph {
  color: #FFFFFF;
  text-align: center;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.paragraph_info {
  color: #FFFFFF;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.paragraph_info2 {
  color: #1D1A1A;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 12px 0;
}

.paragraph_hero {
  color: #FFFFFF;
  text-align: center;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-shadow: 0 0 25px #000000;
}

.paragraph_countdown {
  color: #FFFFFF;
  text-align: center;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.text-highlight {
  color: #D97904;
  font-weight: 600;
}

.sponsors_header {
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

/* Buttons */
.btn {
  font-size: 45px;
  color: #F9EACB;
  background-color: #7C1A17;
  border-radius: 0;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
.btn:hover {
  color: #F9EACB;
  background-color: #7C1A17;
}

.hero_btn {
  font-size: 60px;
  color: #F9EACB;
  background-color: #7C1A17;
  border-radius: 0;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 80%;
  text-decoration: none;
}
.hero_btn:hover {
  color: #F9EACB;
  background-color: #7C1A17;
}

/* Body */
body {
  background-image: url(/img/graphics/BBQ_baggrund.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/* navbar */
.navbar {
  background-color: #1D1A1A;
  box-shadow: 0 0 16px #000000;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.navbar-brand {
  color: #FFFFFF;
}
.navbar-brand:hover {
  color: #FFFFFF;
}
.navbar-brand:focus {
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-shadow: 0 0 16px #000000;
  margin-left: 8px;
  margin-right: 8px;
}
.nav-link:hover {
  color: #D97904;
}
.nav-link:focus {
  color: #FFFFFF;
}

.nav_space {
  height: 67.5px;
}

/* flags */
.dk_flag {
  margin-right: 8px;
  text-decoration: none;
}

.en_flag {
  margin-right: 16px;
  text-decoration: none;
}

/* Searchbar toggler */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(/img/graphics/nav_icon.png);
  width: 30px;
  height: 30px;
}

/* Footer */
.footer_box {
  background-color: #2C2A29;
}

.footer_link_container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer_links {
  color: #707070;
  text-decoration: none;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer_links:hover {
  color: #FFFFFF;
}

.footer_links2 {
  color: #b4b4b4;
  text-decoration: none;
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.footer_links2:hover {
  color: #b4b4b4;
}

.copyright_box {
  background-color: #2C2A29;
  margin: 0;
}

.footer_inner-box {
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.footer_border {
  border-top: 2px solid #707070;
}

.footer_textbox {
  height: 70px;
}

.footer_text {
  font-size: 15px;
  color: #707070;
  margin: 0;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.social_media_instagram_icon {
  color: #707070;
  text-decoration: none;
  margin-right: 15px;
}
.social_media_instagram_icon:hover {
  color: #707070;
}

.social_media_facebook_icon {
  color: #707070;
  text-decoration: none;
}
.social_media_facebook_icon:hover {
  color: #707070;
}

/* Hero */
.hero-container {
  background-color: #000000;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_textbox {
  z-index: 1;
}

.hero_video {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: auto;
}

/* Countdown */
.countdown-container {
  background-color: #1D1A1A;
  height: 50vh;
}

/* Event */
.info-top {
  height: 50vh;
}

.info-about_us {
  padding-right: 6px;
  position: relative;
}

.info-textbox {
  position: absolute;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: flex-end;
}

.info-kids_q {
  padding-left: 6px;
  position: relative;
}

.info-bottom {
  padding-top: 12px;
}

.info-entrance {
  padding-right: 6px;
  position: relative;
}

.entrance_box {
  position: absolute;
  width: 60%;
  height: 60%;
}

.box_img {
  opacity: 75%;
}

.info-news {
  padding-left: 6px;
  position: relative;
}

/* space */
.space {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.space_small {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/* DM info */
.dm-info {
  position: relative;
}

.dm_info_textbox {
  z-index: 1;
  position: absolute;
  height: 100%;
}

.dm_info_text {
  height: 100%;
}

.info_ready {
  height: 50%;
  border-bottom: 2px solid #FFFFFF;
  text-shadow: 0 0 12px #000000;
}

.info_new {
  height: 50%;
  border-top: 2px solid #FFFFFF;
  text-shadow: 0 0 12px #000000;
}

.dm_info_btn {
  height: 100%;
  padding: 0 5%;
}

/* Sponsor-box*/
.sponsor-box {
  background-color: #1D1A1A;
  padding-top: 12px;
  padding-bottom: 12px;
}

/*cover*/
.cover_news {
  height: 40vh;
  background-image: url(/img/photos/kød.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.NEWS {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgb(0, 0, 0);
  margin: 0;
}

/* Kidsque under nyheder*/
.news_box {
  height: 70vh;
  background-color: white;
  background-image: url(/img/photos/thumbnail_newskidsq_img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Amerikanske biler under nyheder*/
.news_box2 {
  height: 70vh;
  background-color: white;
  background-image: url(/img/photos/American\ cars.png);
  background-position: 50%, 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Linedance under nyheder*/
.news_box3 {
  height: 70vh;
  background-color: white;
  background-image: url(/img/photos/bootz.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.news_textbox {
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  padding: 0 60px 0 60px;
}

.news_headline {
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #D97904; /*måske farve - evt lav om til hvid igen*/
}

/*info7 Program oversigt*/
.info_back_box {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.401);
}

/*cover*/
.cover_info {
  height: 40vh;
  background-image: url(/img/photos/info_cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.collapsible {
  background-color: #1D1A1A;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #1D1A1A;
}

.content_info {
  padding: 0 12px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*Om os side*/
.cover_aboutbbq {
  height: 40vh;
  background-image: url(/img/photos/about_bbq_cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.aboutbbq {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.aboutbbq_box {
  background-color: rgba(0, 0, 0, 0.4588235294);
  padding: 24px;
}

.aboutbbq_headline1 {
  color: #FFFFFF;
  line-height: 100px;
}

.aboutbbq_paragraf1 {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 45px;
}

.aboutbbq_headline2 {
  color: #FFFFFF;
  line-height: 100px;
}

.aboutbbq_paragraf2 {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 45px;
}

/*tilmelding side*/
.cover_sign_up {
  height: 40vh;
  background-image: url(/img/photos/kød3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.cover_sign_up_KIDS {
  height: 40vh;
  background-image: url(/img/photos/kødKIDS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.sign_up {
  color: #FFFFFF;
  font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.sign_up_box {
  height: 65vh;
  background-color: #1D1A1A;
}

.outer_btn_box {
  height: 65vh;
  background-color: #1D1A1A;
}

.signup_textbox {
  padding-top: 24px;
  padding-bottom: 24px;
}

.sign_up_dm_img {
  background-image: url(/img/photos/sign-up_dm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.sign_up_judge_img {
  background-image: url(/img/photos/sign-up_judge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.sign_up_volunteer_img {
  background-image: url(/img/photos/sign-up_volunteer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.sign_up_kid_img {
  background-image: url(/img/photos/sign-up_kid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

/*tilmelding til DM i amerikansk BBQ*/
.tilmeldingbox0 {
  display: flex;
  justify-content: center;
}

.tilmeldingbox {
  background-color: #262424;
  color: #f1f1f1;
}

.red_box {
  display: flex;
  justify-content: center;
}

.sign_up_btn {
  font-family: octin-spraypaint, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F9EACB;
  text-decoration: none;
  background-color: #7C1A17;
  font-size: 25px;
  padding: 1% 5% 1% 5%;
}
.sign_up_btn:hover {
  color: #F9EACB;
}

.iner_tilmeldingbox {
  margin-left: 12px;
  margin-right: 12px;
}

.collapsible_tilmelding {
  background-color: #262424;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #262424;
  color: #2C2A29;
}

.content_info {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*tilmelding til DM i amerikansk BBQ end*/
/*tilmelding til DM Kids q*/
.cover_info_kids_Q {
  height: 40vh;
  background-image: url(/img/photos/thumbnail_newskidsq_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.cover_info_frivillige {
  height: 40vh;
  background-image: url(/img/photos/sign-up_volunteer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

.cover_info_dommer {
  height: 40vh;
  background-image: url(/img/photos/sign-up_judge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%, 70%;
}

/*display*/
@media only screen and (max-width: 1132px) {
  .h-sign_up {
    font-size: 45px;
  }
  .p-sign_up {
    font-size: 16px;
  }
  .btn-sign_up {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1110.4px) {
  .header, .header2, .header_underline, .sponsors_header, .sign-up_header {
    font-size: 45px;
  }
  .paragraph {
    font-size: 20px;
  }
  .paragraph_info {
    font-size: 16px;
  }
  .btn {
    font-size: 35px;
  }
}
@media only screen and (max-width: 991.2px) {
  .nav_space {
    height: 59.2px;
  }
  .hero-container {
    height: 52vh;
  }
  .header_hero {
    font-size: 90px;
  }
  .paragraph_hero {
    font-size: 20px;
  }
  .hero_btn {
    font-size: 45px;
  }
  .hero_video {
    height: auto;
    width: 100%;
  }
  .nav-link, .footer_links, .footer_links2 {
    font-size: 20px;
  }
  .news_box, .news_box2, .news_box3, .news_textbox {
    height: 60vh;
  }
}
@media only screen and (max-width: 892px) {
  .info-top {
    height: 30vh;
  }
}
@media only screen and (max-width: 866.4px) {
  .header, .header2, .header_underline, .sponsors_header, .sign-up_header {
    font-size: 35px;
  }
  .paragraph {
    font-size: 15px;
  }
  .paragraph_info, .paragraph_info2 {
    font-size: 15px;
  }
  .NEWS {
    font-size: 20px;
  }
  .btn {
    font-size: 20px;
  }
  .sign_up_box, .outer_btn_box, .signup_textbox {
    height: 60vh;
  }
}
@media only screen and (max-width: 767px) {
  .header_hero {
    font-size: 60px;
  }
  .paragraph_hero {
    font-size: 15px;
  }
  .hero_btn {
    font-size: 30px;
  }
  .sign_up_box {
    justify-content: center !important;
    align-items: center;
  }
  .sign_up_dm_img, .sign_up_kid_img, .sign_up_judge_img, .sign_up_volunteer_img {
    display: none;
  }
  .sign_up_box, .outer_btn_box, .signup_textbox {
    height: 50vh;
  }
}
@media only screen and (max-width: 749.6px) {
  .hero_video {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 724px) {
  .header, .header2, .header_underline, .sponsors_header, .sign-up_header {
    font-size: 25px;
  }
  .header_underline {
    border-bottom: 2px solid #D97904;
  }
  .entré_text {
    font-size: 10px;
  }
}
@media only screen and (max-width: 660px) {
  .header, .header2, .header_underline, .sponsors_header, .sign-up_header {
    font-size: 20px;
  }
  .paragraph {
    font-size: 8px;
  }
  .paragraph_info, .paragraph_info2 {
    font-size: 12px;
  }
  .header_countdown {
    font-size: 20px;
  }
  .countdown_number {
    font-size: 60px;
  }
  .paragraph_countdown {
    font-size: 12px;
  }
  .hero-container {
    height: 40vh;
  }
  .hero_video {
    height: auto;
    width: 100%;
  }
  .cover_news, .cover_info, .cover_aboutbbq, .cover_sign_up {
    height: 35vh;
  }
  .countdown-container {
    height: 30vh;
  }
  .info-top {
    height: 20vh;
  }
  .space {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .nav-link, .footer_links, .footer_links2 {
    font-size: 12px;
  }
  .footer_inner-box {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  .footer_text {
    font-size: 8px;
  }
  .social_media_instagram_icon {
    margin-right: 5px;
  }
  .news_box, .news_box2, .news_box3, .news_textbox {
    height: 50vh;
  }
  .news_textbox {
    padding: 0 12px 0 12px;
  }
  .NEWS {
    font-size: 15px;
  }
  .info_back_box {
    height: 50vh;
  }
  .sign_up_box, .outer_btn_box, .signup_textbox {
    height: 40vh;
  }
}
@media only screen and (max-width: 579.2px) {
  .hero_video {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 524px) {
  .entrance_box, .info-textbox {
    height: 80%;
  }
  .news_box, .news_box2, .news_box3, .news_textbox {
    height: 40vh;
  }
  .cover_news, .cover_info, .cover_aboutbbq, .cover_sign_up {
    height: 25vh;
  }
  .cover_sign_up_KIDS {
    background-image: url(/img/photos/kødKIDSmobile.jpg);
  }
}
@media only screen and (max-width: 452px) {
  .header, .header2, .header_underline, .sponsors_header, .sign-up_header {
    font-size: 15px;
  }
  .header_underline {
    font-size: 20px;
  }
  .paragraph_info, .paragraph_info2 {
    font-size: 8px;
  }
  .header_hero {
    font-size: 45px;
  }
  .paragraph_hero {
    font-size: 15px;
  }
  .hero_btn {
    font-size: 25px;
  }
  .entré_text {
    font-size: 8px;
  }
  .btn {
    font-size: 15px;
  }
  .news_box, .news_box2, .news_box3, .news_textbox {
    height: 30vh;
  }
  .sign_up_box, .outer_btn_box, .signup_textbox {
    height: 30vh;
  }
}
@media only screen and (max-width: 394.4px) {
  .header_underline {
    font-size: 15px;
  }
  .entré_text {
    font-size: 6px;
  }
  .entrance_box, .info-textbox {
    height: 70%;
  }
  .btn {
    font-size: 12px;
  }
}
@media only screen and (max-width: 376px) {
  .aboutbbq {
    font-size: 45px;
  }
}
@media only screen and (max-width: 327.2px) {
  .header_countdown {
    font-size: 15px;
  }
  .countdown_number {
    font-size: 55px;
  }
  .paragraph_countdown {
    font-size: 8px;
  }
  .hero-container {
    height: 40vh;
  }
}/*# sourceMappingURL=style.css.map */