@use "typography" as *;
@use "colors" as *;
@each $tag, $size in $font-sizes {
    #{$tag} {
        font-size: $size;
    }
}
@each $name, $size in $font-sizes {
    .#{$name} {
        font-size: $size;
    }
}

/* Text */

.header {
    color: $secondary-color;
    @include header_text;
}

.header_underline {
    color: $secondary-color;
    @include header_text;
    border-bottom: 4px solid $secondary-color;
}

.header_countdown {
    color: $septenary-color;
    @include style_text;
    font-size: 45px;
}

.countdown_number {
    color: $septenary-color;
    @include header_text;
    font-size: 120px; 
}

.sign-up_header {
    color: $secondary-color;
    @include header_text;
    font-size: 45px;
}

.paragraph {
    color: $septenary-color;
    text-align: center;
    @include paragraph_text;
}

.paragraph_info {
    color: $septenary-color;
    @include paragraph_text;
    font-size: 20px;
}

.paragraph_countdown {
    color: $septenary-color;
    text-align: center;
    @include paragraph_text;
    font-size: 20px;
}

.text-highlight {
    color: $secondary-color;
    font-weight: 600;
}

.sponsors_header {
    @include header_text;
    color: $septenary-color;
}
/* containor */



/* Buttons */

.btn {
    font-size: 45px;
    color: $teriary-color;
    background-color: $primary-color;
    border-radius: 0;
    @include style_text;
    width: 100%;

    &:hover {
        color: $teriary-color;
        background-color: $primary-color;
    }
}

/* Body */

body {
    background-image: url(/img/graphics/BBQ_baggrund.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
}

/* navbar */

.navbar {
    background-color: $quanternary-color;
    box-shadow: 0 0 16px #000000;
    width: 100%;
}

.navbar-brand {
    color: $septenary-color;

    &:hover {
        color: $septenary-color;
    }

    &:focus {
        color: $septenary-color;
    }
}

.nav-link {
    color: $septenary-color;
    @include style_text;
    font-size: 25px;
    text-shadow: 0 0 16px #000000;
    margin-left: 8px;
    margin-right: 8px;

    &:hover {
        color: $secondary-color;
    }

    &:focus {
        color: $septenary-color;
    }
}

/* flags */

.dk_flag {
    margin-right: 8px;
    text-decoration: none;
}

.en_flag {
    margin-right: 16px;
    text-decoration: none;
}

/* Searchbar toggler */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url(/img/graphics/nav_icon.png);
    width: 30px;
    height: 30px;
}

/* Hero */

.hero-container {
    background-color: aqua;
    height: 100vh;
}

/* Countdown */

.countdown-container {
    background-color: $quanternary-color;
    height: 50vh;
}

/* Event */

.info-top {
    height: 50vh;
}

.info-about_us {
    padding-right: 6px;
    position: relative;
}

.info-textbox {
    position: absolute;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: flex-end;
}

.info-kids_q {
    padding-left: 6px;
    position: relative;
}

.info-bottom {
    padding-top: 12px;
}

.info-entrance {
    padding-right: 6px;
    position: relative;
}

.entrance_box {
    position: absolute;
    width: 60%;
    height: 60%;
}

.box_img {
    opacity: 75%;
}

.info-news {
    padding-left: 6px;
    position: relative;
}
/* space */

.space {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.space_small {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* DM info */

.dm-info {
    position: relative;
}

.dm_info_textbox {
    z-index: 1;
    position: absolute;
    height: 100%;
}

.dm_info_text {
    height: 100%;
}

.info_ready {
    height: 50%;
    border-bottom: 2px solid $septenary-color;
    text-shadow: 0 0 12px #000000;
}

.info_new {
    height: 50%;
    border-top: 2px solid $septenary-color;
    text-shadow: 0 0 12px #000000;
}

.dm_info_btn {
    height: 100%;
    padding: 0 5%;
}

/* Sponsor-box*/
.sponsor-box {
    background-color: $quanternary-color;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Footer */

.footer_box {
    background-color: $senary-color;
}

.footer_link_container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer_links {
    color: $octonary-color;
    text-decoration: none;
    @include style_text;
    
    &:hover {
        color: $septenary-color;
    }
}

.copyright_box {
    background-color: $senary-color;
}

.footer_inner-box {
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.footer_border {
    border-top: 2px solid $octonary-color;
}

.footer_textbox {
    height: 70px;
}

.footer_text {
    font-size: 15px;
    color: $octonary-color;
    margin: 0;
    @include paragraph_text;
}

.social_media_instagram_icon {
    color: $octonary-color;
    text-decoration: none;
    margin-right: 15px;

    &:hover {
        color: $octonary-color;
    }
}

.social_media_facebook_icon {
    color: $octonary-color;
    text-decoration: none;

    &:hover {
        color: $octonary-color;
    }
}

/*cover*/
.cover_news {
    height: 40vh;
    background-image: url(/img/photos/kød.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%, 70%;
}

.NEWS {
    color: $septenary-color;
    @include header_text;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

/* Kidsque under nyheder*/
.news_box {
    height: 70vh;
    background-color: white;
    background-image: url(/img/photos/thumbnail_newskidsq_img.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Amerikanske biler under nyheder*/
.news_box2 {
    height: 70vh;
    background-color: white;
    background-image: url(/img/photos/American\ cars.png);
    background-position: 50%, 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Linedance under nyheder*/
.news_box3 {
    height: 70vh;
    background-color: white;
    background-image: url(/img/photos/bootz.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%, 70%;
}

.news_textbox {
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
    @include paragraph_text;
    color: $septenary-color;
    padding: 0 60px 0 60px;
}

.news_headline {
    @include header_text;
    color: $secondary-color; /*måske farve - evt lav om til hvid igen*/
}

/*info7 Program oversigt*/

.info_back_box {
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.401);
}

/*cover*/
.cover_info {
    height: 40vh;
    background-image: url(/img/photos/img\ to\ info\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%, 70%;
}


.collapsible {
    background-color: $quanternary-color;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: $quanternary-color;
    
  }
  
  .content_info {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }




/*Om os side*/
.cover_aboutbbq {
    height: 40vh;
    background-image: url(/img/photos/kød2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%, 70%;
}

.aboutbbq {
    color: $septenary-color;
    @include header_text;
    text-shadow: 2px 2px rgb(0, 0, 0);
}    

.aboutbbq_box {
    background-color: #00000075;
    padding: 24px;
}

.aboutbbq_headline1 {
    color: $septenary-color;
    line-height: 100px;
}

.aboutbbq_paragraf1 {
    color: $septenary-color;
    font-size: 20px;
    line-height: 45px;
}

.aboutbbq_headline2 {
    color: $septenary-color;
    line-height: 100px;
}

.aboutbbq_paragraf2 {
    color: $septenary-color;
    font-size: 20px;
    line-height: 45px;
}

/*tilmelding side*/

.cover_sign_up {
    height: 40vh;
    background-image: url(/img/photos/kød3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%, 70%;
}

.sign_up {
    color: $septenary-color;
    @include header_text;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.sign_up_box {
    height: 60vh;
    background-color: $quanternary-color;
}

.outer_btn_box {
    height: 60vh;
    background-color: $quanternary-color;
}

.signup_textbox {
}

.sign_up_textbox {
    height: 60vh;
    background-color: $septenary-color;
}

.sign_up_box2 {
    height: 60vh;
    background-color: $quanternary-color;
}

.sign_up_textbox1 {
    height: 60vh;
    background-color: $septenary-color;
}

.sign_up_box3 {
    height: 60vh;
    background-color: $quanternary-color;
}

.sign_up_textbox2 {
    height: 60vh;
    background-color: $septenary-color;
}

.sign_up_box4 {
    height: 60vh;
    background-color: $quanternary-color;
}



/*tilmelding til DM i amerikansk BBQ*/


.tilmeldingbox0{
    display: flex;
    justify-content: center;
}

.tilmeldingbox {
    background-color:$quinary-color;
    color: #f1f1f1;
}

.red_box{
    background-color: $primary-color;
    color: $septenary-color;
}

.iner_tilmeldingbox{
    margin-left: 1%;
    margin-right: 1%;
}

.collapsible_tilmelding {
    background-color: $quinary-color;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color:$quinary-color;
    color: $senary-color;
  }
  
  .content_info {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }